    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="/"><img src="../assets/RZik-front/images/logo2.png"></a>
            </div>
            <div class="logo-icon text-center">
                <a href="/"><img src="../assets/RZik-front/images/logo.png"></a>
            </div>
            <!-- /w3l-agile -->
            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active"><a href="/"><i class="lnr lnr-home"></i><span>Accueil</span></a></li>
                    <li><a href="/users"><i class="lnr lnr-users"></i><span>Profil</span></a></li>
                    <li><a href="browse.html"><i class="lnr lnr-music-note"></i><span>Ma musique</span></a></li>
                    <li class="menu-list"><a href="#"><i class="lnr lnr-heart"></i><span>Mes favoris</span></a></li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- /w3layouts-agile -->
        <!-- app-->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog facebook" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="app-grids">
                            <div class="app">
                                <div class="col-md-5 app-left mpl">
                                    <h3>Mosaic mobile app on your smartphone!</h3>
                                    <p>Download and Avail Special Songs Videos and Audios.</p>
                                    <div class="app-devices">
                                        <h5>Gets the app from</h5>
                                        <!-- <a href="#"><img src="../assets/RZik-front/images/1.png" alt=""></a>
                                        <a href="#"><img src="../assets/RZik-front/images/2.png" alt=""></a> -->
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="col-md-7 app-image">
                                    <!-- <img src="../assets/RZik-front/images/apps.png" alt=""> -->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //app-->
        <!-- /w3l-agile -->
        <!-- signup -->
        <app-register>
        </app-register>
        <!-- //signup -->
        <!-- /w3l-agile -->
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header-starts -->
            <div class="header-section row">
                <!--toggle button start-->
                <div class="col-md-1 div-menu">
                    <a id="btn-sdwich" class="toggle-btn menu-collapsed"><i class="fa fa-bars"></i></a>
                </div>
                <!--toggle button end-->
                <!--notification menu start -->
                <!-- <div class="menu-right"> -->
                <!-- <div class="profile_details"> -->
                <div class="col-md-3 serch-part">
                    <div id="sb-search" class="sb-search">
                        <form action="#" method="post">
                            <input class="sb-search-input" placeholder="Rechercher" type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 player">
                    <div class="audio-player">
                        <audio id="audio-player" controls="controls">
                            <source src="http://localhost:8000/radio-general" type="audio/ogg" />
                            <!--<source src="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20Let%20Me%20%28Prod%202oolman%29.mp3" type="audio/mpeg" />-->
                        </audio>
                    </div>

                    <ul class="next-top">
                        <li>
                            <a class="ar" href="#"> <img src="../assets/RZik-front/images/arrow.png" alt="" /></a>
                        </li>
                        <li>
                            <a class="ar2" href="#"><img src="../assets/RZik-front/images/arrow2.png" alt="" />
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3 login-pop">
                    <div *ngIf="!currentUser">
                        <app-login></app-login>
                    </div>
                    <div *ngIf="currentUser">
                        <span>Hello {{currentUser.firstname}}</span>
                        <button (click)="disconnect()">Disconnect</button>
                    </div>
                </div>

                    <!-- <div class="clearfix"> </div> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="clearfix"></div> -->
            </div>
            <!--notification menu end -->
            <!-- //header-ends -->
            <!-- /w3l-agileits -->
            <!-- //header-ends -->
            
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
            <!--body wrapper end-->
            <!-- /w3l-agile -->
            <!--body wrapper end-->
            <div class="footer">
                <div class="footer-grid">
                    <p>R-zik Footer</p>
                </div>
            </div>
        </div>
        




        <!-- /w3l-agile -->
        <!-- main content end-->
    </section>
<!-- </body> -->

<!-- </html> -->
