<div *ngIf="currentUser">
  Hello {{ currentUser.firstname }}

  <div>Upload File:
      <input placholder="Song Title" name="title" [(ngModel)]="songTitle" />
      <textarea name="description" [(ngModel)]="songDescription" placeholder="Song Description"></textarea>
      <input type="file" #fileInput placeholder="Upload file..." />
      Explicit Content : <input type="checkbox" name="explicitContent" [(ngModel)]="explicitContent"/>
      Download Authorization : <input type="checkbox" name="downloadAuthorization" [(ngModel)]="downloadAuthorization"/>
      <button (click)="upload()">Upload</button>
  </div>
</div>
