<div id="page-wrapper">
  <div class="inner-content">

      <div class="music-left">
          <!--banner-section-->
          <div class="banner-section">
              <div class="banner">
                  <div class="callbacks_container">
                      <ul class="rslides callbacks callbacks1" id="slider4">
                          <li>
                              <div class="banner-img">
                                  <img src="../assets/RZik-front/images/11.jpg" class="img-responsive" alt="">
                              </div>
                          </li>
                          <li>
                              <div class="banner-img">
                                  <img src="../assets/RZik-front/images/22.jpg" class="img-responsive" alt="">
                              </div>
                          </li>
                          <li>
                              <div class="banner-img">
                                  <img src="../assets/RZik-front/images/33.jpg" class="img-responsive" alt="">
                              </div>
                              <!-- /w3layouts-agileits -->
                          </li>
                      </ul>
                  </div>
                  <div class="clearfix"> </div>
              </div>
          </div>
          <!--albums-->

          <div class="albums second">
              <div class="tittle-head">
                  <h3 class="tittle">Top Artistes</h3>
                  <div class="clearfix"> </div>
              </div>
              <div class="artiste-wrapper">
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v11.jpg" title="allbum-name"></a>
                      <div class="play"><img src="http://cdn1.iconfinder.com/data/icons/flavour/button_play_blue.png" /> </div>
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v22.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v33.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid last-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v44.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v55.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v66.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v11.jpg" title="allbum-name"></a>
                  </div>
                  <div class="col-md-3 content-grid last-grid">
                      <a href="single.html"><img src="../assets/RZik-front/images/v22.jpg" title="allbum-name"></a>
                  </div>
                  <div class="clearfix"> </div>
              </div>
          </div>
          <!--//discover-view-->
      </div>
      <!--//music-left-->

      <div class="albums second">
          <div class="tittle-head">
              <h3 class="tittle">Top Artistes</h3>
              <div class="clearfix"> </div>
          </div>
          <div class="artiste-wrapper">
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v11.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v22.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v33.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid last-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v44.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v55.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v66.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v11.jpg" title="allbum-name"></a>
              </div>
              <div class="col-md-3 content-grid last-grid">
                  <a href="single.html"><img src="../assets/RZik-front/images/v22.jpg" title="allbum-name"></a>
              </div>
              <div class="clearfix"> </div>
          </div>

      </div>
      <!--//discover-view-->
  </div>
      <!--//music-left-->
      <!--body wrapper start-->

      <div class="review-slider">
      </div>
</div>