.user_title{
    margin: 15px 0px;
    text-transform: capitalize;
    text-align: center;
}
.img_profil{
    margin: 25px 50px;
    width: 75%;
}
.live_button{
    margin: 0 50px;
    width: 75%;
}

div.songCadre{
    text-align: center;
}
.songTitle{
    display: block;
}
.songCadre{
    border: 1px solid;
    padding: 5px 0;
}
